body .main .articles ul {list-style:none;
    color:white;
    font-size:110%;
    }

body .main .articles ul li {padding:.5%}

.main .articles  p {color:red;
                    font-size: 130%;
                    padding:1%;
                    font-family: var(--tipo-letra)}

header nav ul li .exp {background:GREY;
border: 1px solid rgb(255, 0, 0)}